<!DOCTYPE html>
<html>
<head>
    <title>Loja Diária</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0 , user-scalable=no" />

</head>

<body style="font-family: Fortnite; background: #1e1e1e; color: #ffffff; padding: 10px;">
    <div style="margin-bottom :20px; font-size :48px;">

<div>Loja Diária</div>
     </div>
              <div style="border-bottom:3px solid #ffffff; "></div>
               <div style="margin-bottom: 20px; font-size: 48px;margin-top: 20px;">

               <div>PAST ITEMS SHOP</div>
</div>





    <div *ngFor=" let skins of lojaDiaria">
        
        <img src="{{skins.images.smallIcon}}">
     <span> {{skins.name}}</span>
        
        </div>
        <div  class="FortniteBlack">
        loja
        {{data|localDateTime}}
        </div>

    </body>
        </html>
    
   

    

