<!DOCTYPE html>
<html>

<head>
    <title>Loja Diária</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0 , user-scalable=no" />

</head>

<body style="font-family: Fortnite; background: #1e1e1e; color: #ffffff; padding: 10px;">
    <div style="margin-bottom :20px; font-size :48px;">
                   <div>Loja Diária</div>
    </div>
    
    <div style="width: 100%; color: #000;background: #f1ed62;font-size: 26px;display: inline-block;" >
       
        <div style="padding: 10px;">
           <span>Diária</span>
            
        <div style="float:left" ></div>
        
        </div>
       
     
    </div>
    <div style="margin-bottom: 20px;" *ngFor="let nome of lojaDiaria">
        
        
        <ul style="list-style: none;margin: 0;text-align: center; ">
           <a target="blank">
            {{nome.items[0].name}}
          <img src="{{nome.items[0].images.smallIcon}}"  >
           </a>
        </ul>
        
    </div>
    <div style="border-bottom:3px solid #ffffff; "></div>
    <div style="margin-bottom: 20px; font-size: 48px;margin-top: 20px;">

        <div>PAST ITEMS SHOP</div>
    </div>




 
    <div>

       
        
        {{data|localDateTime}}
    </div>

</body>

</html>